# Server Configuration
PORT=3001

# MongoDB Configuration
MONGODB_URI=your-mongodb-url

# Session Configuration
SESSION_SECRET=your-session-secret


# JWT Configuration (optional, if using JWT instead of sessions)
JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=your-jwt-expire-time
